<!-- <ejs-accumulationchart>
<e-accumulation-series type='Pie'>

</e-accumulation-series>
</ejs-accumulationchart> -->
<h3 class="pt-2 pb-2">Hello {{user.user.email}}!!</h3>
<div class="card mt-5 pb-3">
  <h5 class="pt-3 pb-3">Total number of users data</h5>
  <table class="table table-success table-hover">
    <thead>
      <tr>
        <th scope="col">States</th>
        <th scope="col">Districts</th>
        <th scope="col">Childs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalStates}}</td>
        <td>{{totalDistrict}}</td>
        <td>{{totalChilds}}</td>
      </tr>
    </tbody>
  </table>
</div>
