<h3 class="pt-2 pb-2">Add Your Details</h3>
<div class="col col-md-6">
  <div class="d-flex align-items-center alert-success" *ngIf="showSpinner">
    <strong class="p-2">Your Details Is Saving....</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
  <div
        *ngIf="alertMsg"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>{{ submitInfo }}</strong>
        <button (click)="close()"
          type="button"
          class="close"
        >X</button>
      </div>
  <form [formGroup]="childForm" (ngSubmit)="OnChild()">
    <div class="form-group mb-3">
      <label for="state">Enter Your Name</label>
      <input type="text" class="form-control" placeholder="name" formControlName="name" />
      <p class="invalid" *ngIf="childForm.get('name').invalid && childForm.get('name').touched">Name is required</p>
    </div>
    <div class="form-group mb-3">
      <label for="state">Enter Email</label>
      <input type="email" class="form-control" placeholder="Email" formControlName="email" email/>
      <p class="invalid" *ngIf="childForm.get('email').invalid && childForm.get('email').touched">Email Should be Valid</p>
    </div>
    <div class="form-group mb-3">
      <label for="state">Phone Number</label>
      <input type="number" class="form-control" placeholder="phone number" formControlName="phone" minlength="6"/>
      <p class="invalid" *ngIf="childForm.get('phone').invalid && childForm.get('phone').touched">Phone Number Should be 6 Charectors</p>
    </div>
    <div class="form-group mb-3">
      <label for="state">Enter Address</label>
      <input type="text" class="form-control" placeholder="Address" formControlName="address" />
      <p class="invalid" *ngIf="childForm.get('address').invalid && childForm.get('address').touched">Address is required</p>
    </div>
    <button type="submit" [disabled]="childForm.invalid" class="btn btn-primary">Add Child</button>
  </form>
</div>
<div class="hr-color">
  <hr class="hr-red" />
  <hr class="hr-green" />
  <hr class="hr-blue" />
</div>
<div class="row">
  <h5>Childs Details</h5>
  <div class="table-responsive">
    <table class="table table-success table-hover">
      <thead>
        <tr>
          <th scope="col">SI. No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userDetails; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="userDetails?.length <= 0">Don't haave any child details</p>
</div>
