.navbar{
  padding: 0;
}
.navbar-nav{
  padding-right: 120px;
}
.navbar .navbar-brand {
  font-style: italic;
}
.navbar-nav .nav-link{
  color: white;
  font-size: 17px;
  padding: 14px 25px;
}
.navbar-nav .nav-link:hover{
  background-color: tomato;
  color: black;
}

