<nav class="nav bg-danger">
  <ul class="nav navbar ms-auto p-0">
    <li class="nav-item" routerLink="/">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item" routerLink="/state">
      <a class="nav-link">State</a>
    </li>
    <li class="nav-item" routerLink="/district">
      <a class="nav-link">District</a>
    </li>
    <li class="nav-item" routerLink="/child">
      <a class="nav-link">Child</a>
    </li>
    <li class="nav-item logout">
      <i class="fa fa-sign-out"></i>
      <a (click)="logout()" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
