<nav class="navbar navbar-expand-md navbar-dark bg-danger">
  <a class="navbar-brand ml-4" href="#">CREATE & READ</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/state" (click)="isMenuCollapsed = true">State</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/district" (click)="isMenuCollapsed = true">District</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/child" (click)="isMenuCollapsed = true">Child</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isMenuCollapsed = true" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
